:root {
  --size: 25px;
  --circle-size: 6px;
  --animation-gap: 0.1s;
}

.Loader {
  height: var(--size);
  margin: auto;
  position: relative;
  transform: scale(0.6);
  width: var(--size);
}

.Loader-circle {
  animation-direction: normal;
  animation-duration: calc(8 * var(--animation-gap));
  animation-iteration-count: infinite;
  animation-name: Loader-fade;
  background-color: rgb(255, 255, 255);
  border-radius: calc(var(--circle-size) / 2);
  height: var(--circle-size);
  position: absolute;
  width: var(--circle-size);
}

.Loader-circle--1 {
  animation-delay: calc(1 * var(--animation-gap));
  left: 0;
  top: calc((var(--size) / 2) - (var(--circle-size) / 2));
}

.Loader-circle--2 {
  animation-delay: calc(2 * var(--animation-gap));
  left: calc((var(--size) / 5) - (var(--circle-size) / 2));
  top: calc((var(--size) / 5) - (var(--circle-size) / 2));
}

.Loader-circle--3 {
  animation-delay: calc(3 * var(--animation-gap));
  left: calc((var(--size) / 2) - (var(--circle-size) / 2));
  top: 0;
}

.Loader-circle--4 {
  animation-delay: calc(4 * var(--animation-gap));
  right: calc((var(--size) / 5) - (var(--circle-size) / 2));
  top: calc((var(--size) / 5) - (var(--circle-size) / 2));
}

.Loader-circle--5 {
  animation-delay: calc(5 * var(--animation-gap));
  right: 0;
  top: calc((var(--size) / 2) - (var(--circle-size) / 2));
}

.Loader-circle--6 {
  animation-delay: calc(6 * var(--animation-gap));
  bottom: calc((var(--size) / 5) - (var(--circle-size) / 2));
  right: calc((var(--size) / 5) - (var(--circle-size) / 2));
}

.Loader-circle--7 {
  animation-delay: calc(7 * var(--animation-gap));
  bottom: 0;
  left: calc((var(--size) / 2) - (var(--circle-size) / 2));
}

.Loader-circle--8 {
  animation-delay: calc(8 * var(--animation-gap));
  bottom: calc((var(--size) / 5) - (var(--circle-size) / 2));
  left: calc((var(--size) / 5) - (var(--circle-size) / 2));
}

@keyframes Loader-fade {
  0% {
    background-color: rgb(0, 0, 0);
  }

  100% {
    background-color: rgb(255, 255, 255);
  }
}
